.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}
.jumbotron{
    background-image: url("../images/milky-way-2695569.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item{
    cursor: pointer;
}