<div class="row mt-5">
    <div class="col-md-9 col-12 mt-2">
        <h4 class="text-danger">Gerenciar Tipos de Usuários</h4>
    </div>
    <div class="col-md-3 col-12 mt-2">
        <button class="btn btn-dark btn-block btn-new">Adicionar</button>
    </div>
</div>
<div class="row">
    <table class="table table-light">
        <div class="col-12">
            <table class="table table-hover table-responsive compact call-border" id="table-tipo-usuario">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Id</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">Tipo</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" class="text-center">00</th>
                        <th scope="col" class="text-center">Administrador do Sistema</th>
                        <th scope="col" class="text-center">A</th>
                        <th scope="col" class="text-center">
                            <button class="btn btn-sm btn-info">R</button>
                            <button class="btn btn-sm btn-warning">U</button>
                            <button class="btn btn-sm btn-danger">D</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </table>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    
                </div>
            </div>
            <div class="modal-body">
                <p>Content</p>
            </div>
        </div>
    </div>
</div>
<script src="src/tipo_usuario/controller/new-tipo_usuario.js"></script>
<script src="src/tipo_usuario/controller/save-tipo_usuario.js"></script>